.chat
  .chat-side
    .chat__user
      %p= current_user.name
      = link_to edit_user_registration_path do
        %i.fa.fa-cog.icon-cog
      = link_to new_group_path do
        %i.fa.fa-edit.icon-edit
    .chat__groups
      -  current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .group-name= group.name
          .group-text
  .chat-main
    .chat-header
      = render partial: 'group', collrction: @groups
      .chat-header--right
        =link_to edit_group_path(@group) do
          .button Edit
    .chat__message--display
      = render partial: 'message', collrction: @messages
      .chat__message--input
        = form_for [@group, @message] do |f|
          .message-body
            = f.text_field :body, placeholder: "メッセージを入力してください", class: "message-type" do
              %i.fa.fa-icon.photo
          = f.submit "Send", class: "send-button" 
